apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginxproxymanager-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginxproxymanager-letsencrypt-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: nginxproxymanager-pod
  annotations:
    io.podman.annotations.Network: "homeserver01-network"
  labels:
    app: nginxproxymanager
spec:
  containers:
  - name: nginxproxymanager
    image: docker.io/jc21/nginx-proxy-manager:latest
    ports:
    - containerPort: 80
      hostPort: 80
    - containerPort: 81
      hostPort: 81
    - containerPort: 443
      hostPort: 443
    env:
    - name: TZ
      value: "Europe/Lisbon"
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        add:
        - NET_BIND_SERVICE
    volumeMounts:
    - mountPath: /data
      name: data-storage
    - mountPath: /etc/letsencrypt
      name: letsencrypt-storage
  volumes:
  - name: data-storage
    persistentVolumeClaim:
      claimName: nginxproxymanager-data-pvc
  - name: letsencrypt-storage
    persistentVolumeClaim:
      claimName: nginxproxymanager-letsencrypt-pvc